<div class="aff">
    <h4 id="blogo" onclick="window.open('/888bet/register')">888Bet Tanzania | Multi Bonasi ⚡</h4>
    <h4 class="h4left">
        <i class="fa-solid fa-circle-check"></i>
        Bonus ya 200% kwa mteja mpya
    </h4>
    <h4 class="h4left">
        <i class="fa-solid fa-circle-check"></i>
        Jackpot ya BURE! Kila Wiki. Hadi Mil. 500 kushindaniwa
    </h4>
    <h4 class="h4left">
        <i class="fa-solid fa-circle-check"></i>
        BetBuilder. Machaguo zaidi ya moja ndani ya mechi moja
    </h4>
    <h4 class="h4left">
        <i class="fa-solid fa-circle-check"></i>
        Multi Bonasi 🎉 Ongezewa Bonasi ya hadi 1000% kwenye mkeka wako
    </h4>
    <div class="sasa">
        <button onclick="window.open('/888bet/register')"><i class="fa-solid fa-user"></i> BONYEZA KUJISAJILI &nbsp; <i class="fa-solid fa-up-right-from-square"></i></button>
        <br>
        <div style="font-size: 8px;">© vigezo na masharti kuzingatiwa</div>
    </div>
</div>