<div class="aff">
    <h4 class="blogo" onclick="window.open('/gsb/register')">Gal Sport Betting Tanzania</h4>
    <h4>
        <i class="fa-solid fa-circle-check"></i>
        Bonus ya 200% kwa mteja mpya
    </h4>
    <h4>
        <i class="fa-solid fa-circle-check"></i>
        Babkubwa Jackpot. Shindania Hadi Bilioni 1
    </h4>
    <h4>
        <i class="fa-solid fa-circle-check"></i>
        Mkeka Refund x50. Rudishiwa dau lako hadi mara 50 kwa mkeka uliochanwa na mechi 1
    </h4>
    <div class="sasa">
        <button onclick="window.open('/gsb/register')"><i class="fa-solid fa-user"></i> BONYEZA HAPA KUJISAJILI</button>
        <br>
    </div>
</div>