<footer>
    <div class="left">
        <h3>Mikeka ya Uhakika</h3>
        <h4 class="rights">©
            <script>document.write(new Date().getFullYear());</script> All rights reserved
        </h4>
    </div>
    <div class="right">
        <ul>
            <h4 class="h4">Resources</h4>
            <li><a href="/">1st Half Multigoals Tips</a></li>
            <li><a href="/">Home / Away Multigoals Tips</a></li>
            <li onclick="window.open('/gsb/register')">Gal Sport Betting Tips</li>
            <li onclick="window.open('/pmatch2/register')">Parimatch Tanzania Tips</li>
            <li onclick="window.open('/10bet/register')">10bet Tips</li>
            <h4 class="h4">Contacts</h4>
            <li><button id="tg">Telegram</button></li>
        </ul>
    </div>
</footer>

<script>
    let el = document.getElementById('tg')
    el.addEventListener('click', ()=> {
        window.open('tg://resolve?domain=cute_helen255')
    })
</script>