<header>
  <nav class="navbar" style="background-color: gold;">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
          MIKEKA ya UHAKIKA
          <span>Tanzania football prediction & tips 💸</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <b class="navbold"><a href="/both-teams-to-score"><i class="fa-regular fa-futbol"></i> Mikeka | Both Teams to Score</a></b> <br>
            <b class="navbold"><a href="/#over-15"><i class="fa-regular fa-futbol"></i> Mikeka | Over 1.5</a></b> <br>
            <b class="navbold"><a href="/#odds-za-leo"><i class="fa-regular fa-futbol"></i> Mikeka ya Uhakika Leo</a></b> <br>
            <b class="navbold" onclick="opening('pmatch')"><i class="fa-regular fa-futbol"></i> Ofa (150%) Parimatch</b> <br>
            <b class="navbold" onclick="opening('gsb')"><i class="fa-regular fa-futbol"></i> Ofa (100%) Gal Sport Betting</b> <br>
            <b class="navbold" onclick="(opening('10bet'))"><i class="fa-regular fa-futbol"></i> Ofa (100% x 3) 10Bet</b>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <script>
    function opening(e) {
      if(e == 'pmatch') {
        window.open('/pmatch/register')
      }
      else if(e == 'gsb') {
        window.open('/gsb/register')
      }
      else if (e == '10bet') {
        window.open('/10bet/register')
      }
    }
  </script>
</header>