<div class="maana">
    <div class="maana-vifupi">
        <h1 class="h2" id="maana-vifupi" style="font-size: 16px;">Vifupisho vya machaguo ya betting na maana zake</h1>
        <br>
        <ul>
            <li>
                <b class="brown">1</b> Home win (Timu ya nyumbani kushinda).
            </li>
            <li>
                <b class="brown">X</b> Draw (Mechi itoke droo).
            </li>
            <li>
                <b class="brown">2</b> Away (Timu ya ugenini kushinda).
            </li>
            <li>
                <b class="brown">1X</b> Home or Draw (Timu ya nyumbani kushinda au kutoa droo).
            </li>
            <li>
                <b class="brown">X2</b>Draw or Away (Timu ya ugenini kushinda au kutoa droo).
            </li>
            <li>
                <b class="brown">12</b> Home or Away (Timu ya nyumbani au ya ugenini kushinda. Droo isiwepo).
            </li>
            <li>
                <b class="brown">GG</b> Goal Goal / Both teams to score [Yes] (Timu zote kufungana. Mfano <b>1:1, 2:1, 1:2, 3:1, 3:2, 2:2, n.k</b>).
            </li>
            <li>
                <b class="brown">NG</b> Goal No Goal / Both teams to score [No] (Wasifungane au upande mmoja tu ndo upate goli. Mfano <b>0:0, 0:1, 1:0, 2:0, 3:0, 0:2, 0:3, n.k</b>).
            </li>
            <li>
                <b class="brown">HWEH</b> Home Win Either Half (Timu ya nyumbani ishinde angalau kipindi kimoja).
            </li>
            <li>
                <b class="brown">AWEH</b> Away Win Either Half (Timu ya ugenini ishinde angalau kipindi kimoja).
            </li>
        </ul>
    </div>
    <div class="maana-vifupi">
        <h1 class="h2" id="maana-vifupi" style="font-size: 16px;">Vifupisho vya machaguo ya Halftime/Fulltime (HT/FT)</h1>
        <br>
        <ul>
            <li>
                <b class="brown">1/1</b> Home/Home (Timu ya nyumbani kushinda kipindi cha kwanza na kuibuka mshindi mwisho wa mechi).
            </li>
            <li>
                <b class="brown">X/1</b> Draw/Home (Timu ya nyumbani kutoa droo kipindi cha kwanza na kuibuka mshindi mwisho wa mechi).
            </li>
            <li>
                <b class="brown">1/X</b> Home/Home (Timu ya nyumbani kushinda kipindi cha kwanza na kutoa droo mwisho wa mechi).
            </li>
            <li>
                <b class="brown">X/X</b> Draw/Draw (Droo kipindi cha kwanza na mechi iishe droo).
            </li>
            <li>
                <b class="brown">2/2</b> Away/Away (Timu ya ugenini kushinda kipindi cha kwanza na kuibuka mshindi mwisho wa mechi).
            </li>
            <li>
                <b class="brown">X/2</b> Draw/Away (Timu ya ugenini kutoa droo kipindi cha kwanza na kuibuka mshindi mwisho wa mechi).
            </li>
            <li>
                <b class="brown">2/X</b> Away/Draw (Timu ya ugenini kushinda kipindi cha kwanza na kutoa droo mwisho wa mechi).
            </li>
        </ul>
    </div>
</div>