<h2 class="h2" style="font-size: 16px;">Mikeka Mingine</h2>
<div class="other_mikeka p-2 d-flex" id="others">
    <a href="/both-teams-to-score">Both Teams to Score</a>
    <a href="/under-over-15-first-half">U/O 1.5 HT</a>
</div>